@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap");

:root {
  --cor-fundo: linear-gradient(
    120deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(8, 22, 77, 1) 35%,
    rgba(76, 185, 231, 1) 100%
  );
  --cor-texto: #ffecd6;
  --cor-destaque: #4cb9e7;
  --cor-hover: #3559e0;

  --fonte-primaria: "Krona One", sans-serif;
  --fonte-secundaria: "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialised;
  -moz-osx-font-smoothing: grayscale;
}

body {
  box-sizing: border-box;
  background-image: var(--cor-fundo);
  color: var(--cor-texto);
}

.cabecalho {
  padding: 2% 0% 0% 15%;
}

.cabecalho__menu {
  display: flex;
  gap: 80px;
}

.cabecalho__menu__link {
  font-family: var(--fonte-secundaria);
  font-size: 24px;
  font-weight: 600;

  text-decoration: none;

  color: var(--cor-destaque);
}

.apresentacao {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 82px;

  padding: 5% 15%;
}

.apresentacao__conteudo {
  width: 60%;

  display: flex;
  flex-direction: column;
  gap: 40px;
}

.apresentacao__conteudo__titulo {
  font-size: 2.25rem;
  font-family: var(--fonte-primaria);
}

.titulo-destaque {
  color: var(--cor-destaque);
}

.apresentacao__conteudo__texto {
  font-size: 1.5rem;
  font-family: var(--fonte-secundaria);
  text-align: justify;
}

.apresentacao__links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}

.apresentacao__links_subtitulo {
  font-family: var(--fonte-primaria);
  font-weight: 400;
  font-size: 1.5rem;
}

.apresentacao__links__link {
  width: 50%;

  display: flex;
  justify-content: center;
  gap: 16px;

  text-align: center;
  text-decoration: none;
  font-size: 1.5rem;
  font-family: var(--fonte-secundaria);
  font-weight: 600;

  border-radius: 8px;
  padding: 21.5px 0;

  border: 2px solid var(--cor-destaque);
  color: var(--cor-texto);
}

.apresentacao__links__link:hover {
  background-color: var(--cor-hover);
  padding: 22.5px;
}

.apresentacao__imagem__perfil {
  width: 30%;

  border-radius: 2%;
  border: 2px solid var(--cor-destaque);
}

.rodape {
  padding: 24px;

  font-family: var(--fonte-secundaria);
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;

  color: var(--cor-fundo);
  background-color: var(--cor-destaque);
}

@media screen and (max-width: 1200px) {
  .cabecalho {
    padding: 10%;
  }

  .cabecalho__menu {
    justify-content: center;
  }

  .apresentacao {
    flex-direction: column-reverse;

    padding: 5%;
  }

  .apresentacao__conteudo {
    width: auto;
  }

  .apresentacao__imagem__perfil {
    width: 50%;
  }
}
